{% extends "backend/base.html.twig" %}
{% block body %}
<h1 class="col-12 mt-2">
    <i class="fa fa-plus-circle mr-2"></i>
    Nouveau Trick
</h1>
<div class="col-xl-6 col-md-12 mx-auto">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.trickGroup) }}
    </div>
    <div class="form-group">
        {{ form_row(form.description) }}
    </div>
    <ul class="medias" id="media-fields-list"
        data-prototype="{{ form_widget(form.media.vars.prototype)|e('html_attr') }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.children|length }}">
        {% for mediaField in form.media %}
        <li>
            {{ form_errors(mediaField) }}
            {{ form_widget(mediaField) }}
        </li>
        {% endfor %}
    </ul>
    <div class="form-group text-right">
        {{ form_widget(form.register) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}