{% macro tricksMacro(tricks) %}
    {% for trick in tricks %}
    <div class="col-lg-2 col-md-4 col-sm-5 bg-primary text-white m-2 trick-bloc p-0 rounded" id="trick_{{ trick.id }}">
        <div class="wrapper-img">
            {% for media in trick.media %}
                {% if loop.first %}
                    <img src="{{ asset('img/trick/' ~ media.mediaSrc) }}" class="img-fluid" alt="Trick image">
                {% endif %}
            {% else %}
                <img src="{{ asset('img/default_trick.jpg') }}" alt="Trick image" class="img-fluid">
            {% endfor %}
        </div>
        <h2 class="h4 p-2">
            {% if is_granted('ROLE_USER') %}
            <div class="float-right">
                <a href="{{ url('app_trick_update', {slug: trick.slug }) }}" class="btn btn-info btn-sm">
                    <i class="fa fa-pencil"></i>
                </a>
                <button data-key="{{ trick.id }}" data-target="trick_{{ trick.id }}" class="btn btn-danger btn-sm delete-trick">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            {% endif %}
            <a href="{{ url('app_trick_view', {slug: trick.slug}) }}">
                {{ trick.name }}
            </a>
        </h2>
    </div>
    {% endfor %}
{% endmacro %}