{% extends "frontend/base.html.twig" %}
{% block body %}
<h1 class="h3 mb-3 col-12">Inscription</h1>

<section class="col-12 bg-secondary rounded p-2">
    {{ form_start(form) }}
    <div class="form-row">
        <div class="form-group col-lg-6 col-sm-12">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group col-lg-6 col-sm-12">
            {{ form_row(form.first_name) }}
        </div>
        <div class="form-group col-lg-6 col-sm-12">
            {{ form_row(form.password) }}
        </div>
        <div class="form-group col-lg-6 col-sm-12">
            {{ form_row(form.email) }}
        </div>
        <div class="input-group mb-3 col-12">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="cgu" id="cgu" required>
                </div>
            </div>
            <label for="cgu" class="form-control">
                En vous inscrivant sur <em>SnowTricks</em>,
                vous acceptez <a href="">nos conditions générales d'utlisations</a>
            </label>
        </div>
        <div class="form-group col-12 text-right">
            <input type="submit" value="Inscription" class="btn btn-success">
        </div>
    </div>
    {{ form_end(form) }}
</section>



{% endblock %}