{% extends "backend/base.html.twig" %}
{% block body %}
<h1 class="col-12 h3 mb-3">
    <i class="fa fa-plus-circle mr-2"></i>
    Nouvel utilisateur
</h1>
<div class="col-lg-6 col-sm-12 mx-auto">
    {{ form_start(form) }}
    {{ form_row (form.name) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.file) }}
    <div class="form-group text-right">
        <input type="submit" value="Ajouter" class="btn btn-success">
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}