{% extends "frontend/base.html.twig" %}
{% import "partials/comments.macro.html.twig" as _Comments %}
{% block body %}
{% set background = 'img/default_trick.jpg' %}
{% for media in trick.media %}
    {% if loop.first %}
        {% set background = 'img/trick/'~media.mediaSrc %}
    {% endif %}
{% endfor %}
<section class="col-12" id="homepage-section">
    <div class="row">
        <section id="trick-section" class="col-lg-8 col-md-10 col-sm-12 mx-auto mt-5 p-0 hide bg-primary mb-3">
            <section class="trick-header" style="background-image: url('{{ asset(background) }}');">
                <div class="p-1">
                    {% if is_granted('ROLE_USER') %}
                        <div class="float-right p-0">
                            <a href="{{ url('app_trick_update', {slug: trick.slug}) }}" data-toggle="tooltip" title="Modifier le trick ?" class="btn btn-info">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button class="btn btn-danger delete-trick" data-toindex="true" data-key="{{ trick.id }}" data-toggle="tooltip" title="Supprimer le trick ?">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <h1 class="h2 p-1 text-white">
                    {{ trick.name }}
                </h1>
            </section>
            <section id="trick-medias">
                <div class="row justify-content-center">
                    {% for media in trick.media %}
                        {% if loop.first == false %}
                        <div class="col-lg-3 col-sm-5 mx-2 my-2 trick-media">
                            <img class="img-fluid" src="{{ asset('img/trick/'~ media.mediaSrc) }}" alt="Trick image">
                        </div>    
                        {% endif %}
                    {% endfor %}
                    {% for video in trick.videoLinks %}
                        <div class="col-lg-3 col-sm-5 mx-2 my-2 trick-view-iframe trick-media">
                            {{ video.source|raw }}
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section id="trick-content p-2">
                <h2 class="h3 m-2 text-info">
                    Groupe : {{ trick.trickGroup.label }}
                </h2>
                <p class="p-2 text-white m-2 text-justify">
                    {{ trick.description }}
                </p>
                <p class="text-secondary m-2 text-right">
                    {% set avatar = '/img/default_avatar.png' %}
                    {% set sep_avatar = 'text-white' %}
                    {% if trick.author.avatar is not empty %}
                        {% set avatar = '/img/avatar/'~trick.author.avatar %}   
                        {% set sep_avatar = '' %}
                    {% endif %}
                    <a href="{{ url('app_user_view', {user: trick.author.id}) }}" data-toggle="tooltip" class="text-secondary" title="Dernier auteur, voir le profil ?">
                        <img src="{{ asset(avatar) }}" alt="user avatar" class="avatar-small">
                        {{ trick.author.username }}
                    </a>,&nbsp;
                    <span data-toggle="tooltip" title="Date de création">
                        <i class="fa fa-calendar"></i>
                        {{ trick.createdAt|date("d/m/Y") }}
                    </span>
                </p>
                {% if trick.updatedAt is not empty %}
                <p class="text-secondary m-2 text-right">
                    <span data-toggle="tooltip" class="mt-1" title="Dernière mise à jour">
                        <i class="fa fa-calendar"></i>
                        {{ trick.updatedAt|date("d/m/Y") }}
                    </span>
                </p>
                {% endif %}
            </section>
            <section id="trick-comments-form" class="col-12">
                {% if is_granted('ROLE_USER') %}
                    <h4 class="h5 text-white">Laisser un commentaire :</h4>
                    {{ form_start(form) }}
                    {{ form_row(form.content) }}
                        <div class="form-group text-right">
                            <input type="submit" value="Ajouter" class="btn btn-success">
                        </div>
                    {{ form_end(form) }}
                {% else %}
                    <h4 class="h5 text-white">
                        Vous devez être connecté pour laisser un commentaire !
                    </h4>
                    <div class="text-center my-2">
                        <a href="{{ url('app_security_register') }}" class="btn btn-info">Inscription</a>
                        <a href="{{ url('app_security_login') }}" class="btn btn-info">Connexion</a>
                    </div>
                {% endif %}
            </section>
            <section id="trick-comments" data-key="{{ trick.id }}" class="col-12">
                <div class="row" data-length="{{ comments|length }}">
                    {{ _Comments.commentsMacro(comments) }}
                </div>
            </section>
        </section>
    </div>
</section>
{% endblock %}