{% extends "frontend/base.html.twig" %}

{% block body %}
<h1 class="col-12 text-center my-3 h3">{{ user.username }}</h1>
<section class="col-12 bg-primary">
    <h2 class="text-white h4">Liste des tricks créés</h2>
    <div class="row justify-content-center">
        {% for trick in user.tricks %}
            <div class="card bg-secondary text-light col-lg-3 col-md-5 col-sm-6 m-2">
                <h5 class="card-header">
                    {{ trick.name }}
                </h5>
                <div class="card-footer text-center">
                    <div class="row">
                        <div class="col-12 my-2">
                            <span class="badge badge-warning text-primary p-2 rounded" data-toggle="tooltip" title="Groupe du Trick">
                                {{ trick.trickGroup.label }}
                            </span>
                            <span class="badge badge-warning text-primary p-2 rounded" data-toggle="tooltip" title="Date de création">
                                <i class="fa fa-calendar"></i>
                                {{ trick.createdAt|date("d/m/y") }}
                            </span>
                        </div>
                        <div class="col-12">
                            <a href="{{ url('app_trick_view', {slug: trick.slug}) }}" class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="alert alert-info">
            <h5 class="alert-heading">Aucun trick créé.</h5>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}